<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Lensa</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
	<link href='css/font-awesome.min.css' rel='stylesheet' type='text/css'>
	<!-- <link href='css/jquery.bxslider.css' rel='stylesheet' type='text/css'> -->
	<link rel="stylesheet" href="style.css" type="text/css">
	<script src="js/jquery-1.10.2.min.js" type="text/javascript"></script>
	<script src="js/jquery.bxslider.min.js" type="text/javascript"></script>
	<script src="js/jquery.inview.min.js" type="text/javascript"></script>
	<script src="js/site.js" type="text/javascript"></script>
</head>
<body class="gradient-bg">
	<header class="w960" id="header">
		<a href="" id="logo" class="anim-left"><img src="images/logo.png" alt="" /></a>
		<div id="slogan" class="anim-left">for a transparent organisation</div>
		<nav>
			<ul id="menu" class="anim-right">
				<li><a href="index.html">Features</a></li>
				<li class="active"><a href="whitelabel.html">White-label</a></li>
			</ul>
		</nav>
	</header>
	<article id="splash-whitelabel">
		<h1 class="anim-left anim-delay1">add a new color <br /> with our white-label <br /> hr platform</h1>
		<p class="anim-right anim-delay1">Integrate and launch a <b>new business service</b> for your most valuable clients.</p>
	</article>
	<article id="benefits">
		<div class="w960">
			<h1 class="anim-left anim-delay1"><span class="a">B</span><span class="b">e</span><span class="c">n</span><span class="d">e</span><span class="e">f</span><span class="f">i</span><span class="g">t</span><span class="h">s</span></h1>
			<h2 class="anim-right anim-delay1">Job portals are like crossroads where talent, <br /> competition and success meet.</h2>
			<div class="cols">
				<div class="col anim-left anim-delay2">
					<div class="circle">Rely on Lensa technology to make the mostt <b>business</b> sense of mutually satisfactory hiring processes.</div>
				</div>
				<div class="col anim-right anim-delay2">
					<ul>
						<li>New generation Applicant Tracking System</li>
						<li>New revenue stream</li>
						<li>Competitive advantage</li>
					</ul>
				</div>
				<div class="col anim-right anim-delay3">
					<ul>
						<li>Saves development, operation and hosting costs</li>
						<li>Fast implementation of market-level client requests</li>
						<li>Constant monitoring of the needs and possibilities in the HR industry</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="popup has-transition anim-fade">
			<div class="popup-window">
				<img src="images/test1.jpg" alt="" />
			</div>
		</div>
	</article>
	<article id="process">
		<div class="bg">
			<div class="w960">
				<h1 class="anim-left anim-delay1"><span class="a">P</span><span class="b">r</span><span class="c">o</span><span class="d">c</span><span class="e">e</span><span class="f">s</span><span class="g">s</span></h1>
				<h4 class="anim-right anim-delay2">With over 10 years of experience in the HR industry, we develop highly dependable and intelligent software-as-a-service tools for job portals, targeted at mid to large companies and organizations, HR agencies and headhunters.</h4>
				<h2 class="anim-right anim-delay3"><b>Broaden</b> your business offerings and improve your market position.</h2>
				<div class="sliderwindow">
					<ul class="slidercontainer">
						<li class="slide"><img src="images/slide.big.1.jpg" alt="" /></li>
						<li class="slide"><img src="images/slide.2.jpg" alt="" /></li>
						<li class="slide"><img src="images/slide.3.jpg" alt="" /></li>
					</ul>
				</div>
				<div class="slideinwindow">
					<div class="slidein has-transition current">
						<h3>Customization</h3>
						<p>While we provide a best of breed IT infrastructure, you can private-label and brand it so it fits seamlessly into your marketing and sales activity.</p>
						<!-- <p class="cta">Your inbox is a <span>treasure</span> trove of promising job seekers.</p> -->
						<ul>
							<li>The user interface can be tailored and customized to any given portal layout and style</li>
							<li>Language localization</li>
							<li>Adaptation to diverse markets, business, legal and cultural environments</li>
						</ul>
					</div>
					<div class="slidein has-transition next">
						<h3>Integration</h3>
						<p>Our white-label recruitment software is flexibly integrated into any existing job portal system.</p>
						<!-- <p class="cta">In HR, precision and <span>accuracy</span> are a must.</p> -->
						<ul>
							<li>Comprehensive application programming interface (API) to seamlessly connect different business management software suites</li>
							<li>Flexible packages tailored to various strategic sales goals</li>
						</ul>
					</div>
					<div class="slidein has-transition next">
						<h3>Extended service portfolio</h3>
						<p>With Lensa, job portals can offer corporate clients an easy-to-use, highly efficient toolset to centralize and manage staffing tasks from initial sourcing through selection and hiring of the best fit talent.</p>
						<!-- <p class="cta">Convey a <span>favorable</span> perception of the company as an employer through your friendly and transparent recruitment style.</p> -->
						<ul>
							<li>Applicant Tracking System via a software-as-a-service (SaaS) scheme</li>
							<li>Targeted at mid to large companies, HR agencies and headhunters</li>
							<li>Work with your existing sales force</li>
						</ul>
					</div>
				</div>
				<div class="slideinpagination">
					<span class="has-transition on"><i class="fa fa-envelope"></i></span>
					<span class="has-transition"><i class="fa fa-eye"></i></span>
					<span class="has-transition"><i class="fa fa-comment"></i></span>
				</div>
			</div>
		</div>
	</article>
	<!-- <article id="ref" class="gradient-bg">
		<ul>
			<li class="has-transition"><img src="images/ref.amgen.png" alt="" /></li>
			<li class="has-transition"><img src="images/ref.cargill.png" alt="" /></li>
			<li class="has-transition"><img src="images/ref.cib.png" alt="" /></li>
			<li class="has-transition"><img src="images/ref.generali.png" alt="" /></li>
			<li class="has-transition"><img src="images/ref.liferay.png" alt="" /></li>
			<li class="has-transition"><img src="images/ref.raiffeisen.png" alt="" /></li>
			<li class="has-transition"><img src="images/ref.tumlare.png" alt="" /></li>
		</ul>
	</article> -->
	<article id="contact">
		<div id="contactwrapper">
			<div class="w960">
				<h1><span class="a">C</span><span class="b">o</span><span class="c">n</span><span class="d">t</span><span class="e">a</span><span class="f">c</span><span class="g">t</span></h1>
				<div class="center">
					<form action="" method="post">
						<input type="text" name="contact-name" value="" placeholder="name" />
						<input type="text" name="contact-email" value="" placeholder="email" />
						<textarea name="contact-message" placeholder="How can we help?"></textarea>
						<input type="submit" name="contact-submit" value="SEND" />
					</form>
				</div>
			</div>
		</div>
	</article>
	<footer>
		<div class="w960 anim-fade">
			&copy; 2013 <img src="images/logo.footer.png" alt="Lensa" /> all rights reserved
		</div>
	</footer>
</body>
</html>