{% extends "base.html" %}
{% block features_active %}class="active"{% endblock %}

{% block content %}

    <article id="splash">
        <h1 class="">Defining<br />an HR Competency Model<br />with community effort</h1>
        <p class="" style="max-width:75%; margin: 0px auto; margin-top: 0px"></p>
    </article>

    <script type="text/javascript">
    </script>

    <article id="efficiency">
        <div class="w960">
            <h1 class=""><span class="a">T</span><span class="b">h</span><span class="c">e</span><span class="d">&nbsp</span><span class="e">P</span><span class="f">r</span><span class="g">o</span><span class="h">j</span><span class="i">e</span><span class="j">c</span><span class="j">t</span></h1>
            <p class="b" style="font-size:80%;">Our core goal here at Lensa is to create a platform that revolutionizes the way companies find talent.<br /><br />The basis of this is a competency model which covers all those knowledge, skills, abilities, attitudes that are the most important for companies from a wide variety of verticals, industries and markets.<br /><br />Beyond the knowledge of our behavioral scientists, this continuous process leverages a host of valuable input that we gather from HR professionals, fellow scientists and various market players. </p>
            <p class="a">Taking our efforts to the next level, we are now turning to the HR community as a whole, looking to get even more professional feedback through this open platform.<br /><br />
            </p>
        </div>
        

    </article>
    <article id="centralization">
        <div class="w960">
            <h1 class="anim-fade anim-delay1"><span class="a">C</span><span class="b">e</span><span class="c">n</span><span class="d">t</span><span class="e">r</span><span class="f">a</span><span class="g">l</span><span class="h">i</span><span class="i">z</span><span class="j">a</span><span class="k">t</span><span class="l">i</span><span class="m">o</span><span class="n">n</span></h1>
            <h3 class="anim-left">At the strategic core of Lensa, we have developed a robust data storage, search and mining capacity which retains all information from previous talent searches.</h3>
            <h2 class="anim-right">Never lose or miss a candidate – the most precious asset of recruiting.</h2>
        </div>
        <div class="sliderwindow w960">
            <div class="slides">
                <div class="slide has-transition current">
                    <img src="/static/images/cent01.jpg" alt="" />
                </div>
                <div class="slide has-transition next">
                    <img src="/static/images/cent02.jpg" alt="" />
                </div>
                <div class="slide has-transition next invisible">
                    <img src="/static/images/cent03.jpg" alt="" />
                </div>
                <div class="slide has-transition prev">
                    <img src="/static/images/cent04.jpg" alt="" />
                </div>
            </div>
            <div class="flipperwindow">
                <div class="flipper has-transition">
                    <h3>Searchable candidate database</h3>
                    <p>The extensive search capabilities of Lensa offer access to all previous recruitment data by keyword, experience, education, status, skills, and more. Search criteria sets can be saved and used again for convenience. The system meets data handling regulations.</p>
                    <p class="cta">Did we mention search component is incredibly fast?</p>
                </div>
                <div class="flipper has-transition visible">
                    <h3>Document storage</h3>
                    <p>From interview questions to contract templates, any recruitment-related document can be uploaded into the system. Position profiles are automatically stored in PDF format.</p>
                    <p class="cta">Access your library any time, from anywhere.</p>
                </div>
                <div class="flipper has-transition">
                    <h3>Reports</h3>
                    <p>The centralized database can be leveraged to generate reusable, customized, Excel compatible reports covering a wide range of information.</p>
                    <p class="cta">Evaluate long-term corporate recruitment practices and refine them if necessary.</p>
                </div>
                <div class="flipper has-transition">
                    <h3>Career pages</h3>
                    <p>The extensive search capabilities of Lensa offer access to all previous recruitment data by keyword, experience, education, status, skills, and more. Search criteria sets can be saved and used again for convenience. The system meets data handling regulations.</p>
                    <p class="cta">Did we mention search component is incredibly fast?</p>
                </div>
            </div>
        </div>
        <div class="sliderpagination">
            <span class="has-transition anim-right anim-delay1 on"><i class="fa fa-search"></i></span>
            <span class="has-transition anim-right anim-delay2"><i class="fa fa-folder-open"></i></span>
            <span class="has-transition anim-right anim-delay3"><i class="fa fa-bar-chart-o"></i></span>
            <span class="has-transition anim-right anim-delay4"><i class="fa fa-random"></i></span>
        </div>
    </article>
    <article id="candidate">
        <div class="w960">
            <div class="border"></div>
            <h1 class="anim-fade anim-delay2"><span class="a">C</span><span class="b">a</span><span class="c">n</span><span class="d">d</span><span class="e">i</span><span class="f">d</span><span class="g">a</span><span class="h">t</span><span class="i">e</span> <span class="j">s</span><span class="k">a</span><span class="l">t</span><span class="m">i</span><span class="n">s</span><span class="o">f</span><span class="p">a</span><span class="q">c</span><span class="r">t</span><span class="s">i</span><span class="t">o</span><span class="u">n</span></h1>
            <p class="anim-left a">Employers need candidates who do believe in their personal ability, who are serious, reliable, <br /> motivated and task-oriented.</p>
            <p class="anim-right b"><span>Involve</span> applicants actively in the hiring process from the very start.</p>
            <div class="sliderwindow">
                <ul class="slidercontainer">
                    <li class="slide"><img src="/static/images/sat01.jpg" alt="" /></li>
                    <li class="slide"><img src="/static/images/sat02.jpg" alt="" /></li>
                    <li class="slide"><img src="/static/images/sat03.jpg" alt="" /></li>
                </ul>
            </div>
            <div class="slideinwindow">
                <div class="slidein has-transition current">
                    <h3>E-mail application</h3>
                    <p>E-mail, as a common and traditional way to apply for a position, is still highly popular for its simplicity –no registration is needed. In addition, an application form is also available.</p>
                    <p class="cta">Your inbox is a <span>treasure</span> trove of promising job seekers.</p>
                </div>
                <div class="slidein has-transition next">
                    <h3>Data validation</h3>
                    <p>Lensa assists the application process with an extremely easy-to-use data validation step. This sends immediate feedback whenever a new application arrives, and improves the reliability of automatic compliance assessments.</p>
                    <p class="cta">In HR, precision and <span>accuracy</span> are a must.</p>
                </div>
                <div class="slidein has-transition next">
                    <h3>Candidate feedback options</h3>
                    <p>Lensa features various message templates and a wide range of fields to personalize form letters to make online correspondence faster. Candidates waiting for a response can be filtered by a number of parameters, and the system sends alerts if it detects a missing feedback at the end of the hiring process.</p>
                    <p class="cta">Convey a <span>favorable</span> perception of the company as an employer through your friendly and transparent recruitment style.</p>
                </div>
            </div>
            <div class="slideinpagination">
                <span class="has-transition on"><i class="fa fa-envelope"></i></span>
                <span class="has-transition"><i class="fa fa-eye"></i></span>
                <span class="has-transition"><i class="fa fa-comment"></i></span>
            </div>
        </div>
    </article>
    <article id="ref" class="gradient-bg">
        <!-- <ul>
            <li class="has-transition"><img src="/static/images/ref.amgen.png" alt="" /></li>
            <li class="has-transition"><img src="/static/images/ref.cargill.png" alt="" /></li>
            <li class="has-transition"><img src="/static/images/ref.cib.png" alt="" /></li>
            <li class="has-transition"><img src="/static/images/ref.generali.png" alt="" /></li>
            <li class="has-transition"><img src="/static/images/ref.liferay.png" alt="" /></li>
            <li class="has-transition"><img src="/static/images/ref.raiffeisen.png" alt="" /></li>
            <li class="has-transition"><img src="/static/images/ref.tumlare.png" alt="" /></li>
        </ul> -->
    </article>
{% endblock %}

