<article id="contact">
    <div id="contactwrapper">
        <div class="w960">
            <h1>
                <span class="a">p</span>
                <span class="b">a</span>
                <span class="c">r</span>
                <span class="d">t</span>
                <span class="e">i</span>
                <span class="f">c</span>
                <span class="g">i</span>
                <span class="g">p</span>
                <span class="g">a</span>
                <span class="g">t</span>
                <span class="g">e</span>
            </h1>
            <div class="center">
                <div class="status-msg success">
                    <i class="fa fa-check-circle"></i> Thanks for your input! We'll get back to you soon.
                    <a href="javascript:;">Back to form</a>
                </div>
                <div class="status-msg error">
                    <i class="fa fa-exclamation-circle"></i> Uh-oh, something went wrong.<br/>Please try again.
                    <a href="javascript:;">Back to form</a>
                </div>

                <form action="/contacts" method="post" name="contact">
                    <textarea name="contact-message" placeholder="Any thoughts? Jot'em down, we are listening!" required></textarea>
                    <input type="hidden" name="contact-secret" value="{{secret}}" />
                    <input type="text" name="contact-name" value="" placeholder="Your name" required />
                    <input type="text" name="contact-name" value="" placeholder="Your company" required />
                    <input type="email" name="contact-email" value="" placeholder="Your work email" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" />
                    <input type="submit" name="contact-submit" value="SEND" />
                </form>
            </div>
        </div>
    </div>
</article>